spring:
  application:
    name: orm-platform

  profiles:
    active: dev

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
